doctype html
html
  head
    title Gupta Dance Academy
    block scripts
    block style  
  body
    nav#navbar
        ul
            div#logo
                img(src="/static/image/logo.png")
                | GDA
            li #[a(href="/") Home]
            li #[a(href="/") About]
            li #[a(href="/") Services]
            li #[a(href="/") Class Info]
            li #[a(href="/contact") Contact Us]
    block content
    footer#footer
        | Copyright © 2020 GuptaDanceAcademy.com | All rights reserved     