
*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}
h1{
    text-align: center;
    margin: 12px 0;
}
.container{
    min-height: 75vh;
    margin: 43px 0px;
    /* display: flex;
    align-items: center;
    flex-direction: column; */
}
.container h1{
    font-family: 'Lexend Peta';
    font-size: 34px;
}
.myForm{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 50vh;
}
.myInput{
    font-size: 16px;
    width: 40%;
    padding: 9px;
    margin: 8px;
    border: 2px solid #9d8e8e;
    border-radius: 12px;
    outline: none;
}
.btn{
    padding: 8px 16px;
    margin: 26px;
    font-size: 18px;
    border: 2px solid black;
    border-radius: 10px;
    color: white;
    background: #d43b3b;
    cursor: pointer;
    outline: none;
}