@import url("https://fonts.googleapis.com/css2?family=Lexend+Peta&display=swap");
*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}
#logo{
    display: flex;
    color: white;
    align-items: center;
    margin: 0 14px;
    font-size: 26px;
    margin-right: 40px;
}
#logo img{
    height: 47px;
        filter: invert(1);
    }
    
#navbar{
    background-color:#d43b3b;
    /* color:white; */
    padding: 14px 14px;
    font-family: 'Lexend Peta';
}
#navbar ul{
    display: flex;
    flex-direction: row;
    /* justify-content: center; */
    align-items: center;
}
#navbar li{
    list-style: none;
}

#navbar li a{
    padding: 13px 40px;
    font-size: 27px; 
    color: white;
    text-decoration: none;
}
#navbar li a:hover{
color: black;
font-size: 30px;
background:rgba(245, 245, 245, 0.199);
border-radius: 10px;
}
#introSection{
    height: 300px;
    display: flex;
    flex-direction: column;
    background: center/cover no-repeat url("/static/bg.jpg");
    background-color: red;
    color: white;
    justify-content: center;
    align-items: center;
    font-size: 35px;
    padding-bottom: 40px;
    height: 425px;
    font-family: 'Lexend Peta';
}
#introSection div.small{
 font-size: 37px;
 padding: 5px;
}
#missionSection{
    height: 300px;
    width: 83%;
    margin: auto;
    /* background-color:#d43b3b; */
}
#missionSection h2{
    font-family: 'Lexend Peta';
    text-align: center;
    padding-top: 12px;
    font-size: 36px;
}
.card{
    display: inline-block;
    border: 2px solid black;
    border-radius: 10px;
    width: 30%;
    margin: 23px 15px;
    height: 210px;
}
.card h3{
    text-align: center;
    margin: 0 12px;
    margin-top: 24px;
    font-family: 'Lexend Peta';
  
} 

.card-box{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.card-img{
    height: 100px;
    padding: 0 14px;
    margin: 5px 9px;
}

.card-img img{
    height: 95px; 
}

.card-content{
    padding: 0 10px;
}

.card-content p{
    font-size: 14px;
}
#sponsorSection{
    height: 300px;
    background-color:#d43b3b;
}
#sponsorSection h2{
    text-align: center;
    font-family: 'Lexend Peta';
    font-size: 36px;
    padding-top: 12px;
}
#sponsors{
    height: 201px;
    max-width: 1000px;
    margin: 13px auto;
}
.spImage{
    height: 80%;
    margin: 20px;
}
#footer{
    background-color:rgb(0, 0, 0);
    height: 40px;
    color: white;
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 20px;
    padding-top: 7px;
    font-family: 'Lexend Peta';
}